:root {
    color-scheme: light dark;
}

body {
    font-family: monospace;
}

p {
    margin: 0;
}

time {
    opacity: 0.5;
}

a {
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
}

.form-toolbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

p.title {
    margin-top: 2em;
}

p.content {
    margin-top: 0.5em;
    padding-left: 2ch;
    text-indent: 2ch;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
