<!DOCTYPE html>
<html>
  <head>
    <script src="public/client.js" defer></script>
    <link rel="stylesheet" href="public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <dialog id="edit-dialog">
      <form id="edit-form">
        <span class="form-toolbar"><b>edit todo</b> <a id="edit-close" href="#close-edit">[close]</a></span>

        <input name="id" id="edit-id" type="hidden">

        <label for="edit-title">title</label>
        <input name="title" id="edit-title">

        <label for="edit-description">description</label>
        <textarea name="description" id="edit-description"></textarea>

        <a id="edit-submit" href="#submit-edit">[submit]</a>
      </form>
    </dialog>

    <dialog id="add-dialog">
      <form id="add-form">
        <span class="form-toolbar"><b>add todo</b> <a id="add-close" href="#close-add">[close]</a></span>

        <label for="add-title">title</label>
        <input name="title" id="add-title">

        <label for="add-description">description</label>
        <textarea name="description" id="add-description"></textarea>

        <a id="add-submit" href="#submit-add">[submit]</a>
      </form>
    </dialog>

    <a href="#add" id="add-open">[+] add todo</a>

    {{ for todo of todos -}}
      {{ include "./todo.vto" { todo } }}
    {{- /for -}}
  </body>
</html>
