<!DOCTYPE html>
<html>
  <head>
    <script src="public/client.js" defer></script>
    <link rel="stylesheet" href="public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <dialog id="add-dialog">
    <form id="add-form">
<pre><b>add todo</b> <a id="add-close" href="#close-add">[close]</a>

<label for="add-title">title</label>
<input name="title" id="add-title">

<label for="add-description">description</label>
<textarea name="description" id="add-description"></textarea>

<label for="add-secret">secret</label>
<input name="secret" id="add-secret">

<a id="add-submit" href="#submit-add">[submit]</a></pre>
  </form>
</dialog>
    <pre>
<a href="#add" id="add-open">[+] add todo</a>

  {{ for todo of todos -}}
    {{ include "./todo.vto" { todo } }}
  {{- /for -}}
</pre>
  </body>
</html>
